target/
.bsp/

.settings
.project
.classpath

.idea
*.iml

.DS_Store
.env

.metals/
.vscode/
.bloop/
metals.sbt
modules/core/src/test/scala-*/com/anymindgroup/generated/
modules/core/src/test/scala-*/com/anymindgroup/GeneratedCodeTest.scala
